
h1{
  text-align:center;
 background:rgb(40,40,80);
 color:rgb(225,225,225);
 padding:20px;
 margin:0;
 }
 nav{}
 nav ul{}
 nav ul li a{
	 display:block;
	 background:#32c69c;
 }
 
nav ul li a:hover {
	background-color:#999;
}

 img{
 float:right;
 }
 article{
 padding:5px;


 color:rgb(0,0,0);
 
 }
  video{
  float:right;
  margin:0;
 }
 h3{
 color:rgb(50,50,225);
 }
 ul{
 

 color:rgb(0,0,0);
 }
 li{

 
 color:rgb(0,0,0);
  
 }
