/*-----Prevents iPhone from resizing in landscape mode -----*/
@media only screen and (max-width: 360px) {
body{
	background-color:#b2f5c9;
}
header{
    background:#611078;
	padding:1px;
    text-align:center;
	
}

/* -------navigation-------------*/
.PHONE {
	background-color:#8c61b4;
	padding:15;
	
	margin-top:5px;
}
.PHONE ul li{
	color:#8c61b4;
}
.PHONE a{
	/*width:36%;*/
	margin:2px;
	margin-top:5px;

	border:2px inset black;
	border-color:red;
    padding:3px;
	background-color:#d3b9ec;
	font-size:25;
	text-decoration:none;
	
}
.DESKTOP{
	display:none;
}

header h1{
font-family: 'Acme', sans-serif;
	font-size:39;
	color:#ffffff;
}
article h3{
	font-family: 'Piedra', cursive;
	font-size:30;
}
p{
	font-family: 'Anton', sans-serif;
	font-size:20;
}

/*grammer of programming*/
.Grammar {
		background-color:#cc99ff;
padding:1px;
border:5px solid black;

}
.Grammar article{
		font-family: 'Piedra', cursive;
		font-size:30;
		margin-top:10;
margin-left:10;
margin-bottom:80;
}
.Grammar article ul li{
			font-family: 'Bentham', serif;
			font-size:20;
}
.Grammar article a{
	float:right;
         border:2px ridge black;
		 border-radius: 14px;
		 	background-color:#d3b9ec;
			padding:2px;
				text-decoration:none;
				
}
	

	
	

/*intro class*/
.intro{
	background-color:#9eb8f5;
}
.intro article p{
	text-align:left;
	font-size:25;
	font-family: 'Bentham', serif;


}
/*basic class*/
.basic article header {
	background:none;
		
		
}
.basic article h3{
	text-align:left;
	background-color:#cc99ff;
	
}
/*for class*/
.class{
	background-color:#cc99ff;
	 padding:1px;
border:5px solid black;
}
.class article{
		font-family: 'Piedra', cursive;
		font-size:30;
		margin-top:10;
margin-left:10;
margin-bottom:80;
}
.class p{
			font-family: 'Bentham', serif;
}
.class article a{
	float:right;
         border:2px ridge black;
		 border-radius: 14px;
		 	background-color:#d3b9ec;
			padding:2px;
				text-decoration:none;
				
}
	
/*if*/
.if {
			background-color:#cc99ff;
			padding:1px;
			border:5px solid black;
}
.if article{
		font-family: 'Piedra', cursive;
		font-size:30;
		margin-top:10;
margin-left:10;
}
.if p{
			font-family: 'Bentham', serif;
}

.if  article a{
	float:right;
         border:2px ridge black;
		 border-radius: 14px;
		 	background-color:#d3b9ec;
			padding:2px;
				text-decoration:none;
		
				
}
	
/*switch*/
.switch{
				background-color:#cc99ff;
				padding:1px;
				border:5px solid black;
}
.switch article{
			font-family: 'Piedra', cursive;
		font-size:30;
		margin-top:10;
margin-left:10;
}
.switch p{
				font-family: 'Bentham', serif;
}

.switch img{
	padding:10;
}
.switch article ul li{
			font-family: 'Bentham', serif;
			font-size:20;
			margin-top:10;
margin-left:10;
}
.switch article a{
	float:right;
         border:2px ridge black;
		 border-radius: 14px;
		 	background-color:#d3b9ec;
			padding:2px;
				text-decoration:none;
		
				
}
/*for*/
.for {
				background-color:#cc99ff;
				padding:1px;
				border:5px solid black;
}
.for article{
			font-family: 'Piedra', cursive;
		font-size:30;
		margin-top:10;
margin-left:10;
margin-bottom:80;
}
.for p{
	font-family: 'Bentham', serif;
}
.for article a{
	float:right;
         border:2px ridge black;
		 border-radius: 14px;
		 	background-color:#d3b9ec;
			padding:2px;
				text-decoration:none;
		
				
} 
/*while*/
.while{
		background-color:#cc99ff;
		padding:1px;
		border:5px solid black;
}
.while article{
			font-family: 'Piedra', cursive;
		font-size:30;
		margin-top:10;
margin-left:10;
margin-bottom:80;
}
.while p{
	font-family: 'Bentham', serif;
}
.while article a{
	float:right;
         border:2px ridge black;
		 border-radius: 14px;
		 	background-color:#d3b9ec;
			padding:2px;
				text-decoration:none;
		
				
}
/*whilediff*/
.whilediff {
	 background-color:#cc99ff;
	 padding:1px;
	 border:5px solid black;
}
.whilediff{
	text-align:center;
}
/*do-while*/
.do-while{
	background-color:#cc99ff;
	padding:1px;
	border:5px solid black;
}
.do-while article{
			font-family: 'Piedra', cursive;
		font-size:30;
		margin-top:10;
margin-left:10;
margin-bottom:80;
}
.do-while  p{
	font-family: 'Bentham', serif;
}
.dowhile{
	text-align:center;
}
.do-while article a{
	float:right;
         border:2px ridge black;
		 border-radius: 14px;
		 	background-color:#d3b9ec;
			padding:2px;
				text-decoration:none;
		
				
}	


/*for all syntax*/
h2{
	font-size:30;
			font-family: 'Piedra', cursive;
		
margin-top:10;
margin-left:10;
	
}

}
	
	
